import { TestBed } from '@angular/core/testing';
import { {entityName}Interceptor } from './{urlName}.interceptor';

describe('{entityName}Interceptor', () => {
  let interceptor: {entityName}Interceptor;

  beforeEach(() => {
    TestBed.configureTestingModule({
      providers: [{entityName}Interceptor],
    });

    interceptor = TestBed.inject({entityName}Interceptor);
  });

  it('should be created', () => {
    expect(interceptor).toBeTruthy();
  });
});
