import { TestBed } from '@angular/core/testing';
import { {entityName}Resolver } from './{urlName}.resolver';

describe('{entityName}Resolver', () => {
  let resolver: {entityName}Resolver;

  beforeEach(() => {
    TestBed.configureTestingModule({
      providers: [{entityName}Resolver],
    });

    resolver = TestBed.inject({entityName}Resolver);
  });

  it('should be created', () => {
    expect(resolver).toBeTruthy();
  });
});
